@mixin transition($transitions...) {
    $unfoldedTransitions: ();

    @each $transition in $transitions {
        $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
    }

    transition: $unfoldedTransitions;
}

@function unfoldTransition ($transition) {
    $property: all;
    $duration: .5s;
    $easing: linear;
    $defaultProperties: ($property, $duration, $easing);

    $unfoldedTransition: ();

    @for $i from 1 through length($defaultProperties) {
        $p: null;

        @if $i <=length($transition) {
            $p: nth($transition, $i)
        }

        @else {
            $p: nth($defaultProperties, $i)
        }

        $unfoldedTransition: append($unfoldedTransition, $p);
    }

    @return $unfoldedTransition;
}